<app-page-header [defaultHref]="['/']"></app-page-header>
<app-company-hero [company]="_company"></app-company-hero>

<ion-content color="light">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="company-properties">
        <!-- <ion-icon name="map"></ion-icon> -->
        <ion-label>Properties</ion-label>
        <!-- <ion-badge color="tertiary">{{ _totalProperties }}</ion-badge> -->
      </ion-tab-button>

      <ion-tab-button tab="company-owners">
        <!-- <ion-icon name="people"></ion-icon> -->
        <ion-label>Owners</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="company-officers">
        <!-- <ion-icon name="briefcase"></ion-icon> -->
        <ion-label>Officers</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
