<div class="scrollable">
  <div class="list-description">
    <h3>Company Officers</h3>
  </div>
  <ion-list class="ion-no-padding">
    <app-company-officer-card
      *ngFor="let officer of officers"
      [officer]="officer"
    ></app-company-officer-card>
  </ion-list>
</div>
<!-- <ion-infinite-scroll
  threshold="97px"
  id="infinite-scroll"
  (ionInfinite)="_loadData($event)"
>
  <ion-infinite-scroll-content
    loading-spinner="bubbles"
    loading-text="Loading more data..."
  >
  </ion-infinite-scroll-content>
</ion-infinite-scroll> -->
