<form [formGroup]="form">
  <ion-grid>
    <ion-row>
      <ion-col>
        <app-select-field
          [title]="input.property.title"
          [control]="input.property.control"
          [options]="input.property.options"
          [iconName]="input.property.iconName"
          [parentForm]="form"
        ></app-select-field>
      </ion-col>
      <ion-col>
        <app-select-field
          [title]="input.city.title"
          [control]="input.city.control"
          [options]="input.city.options"
          [iconName]="input.city.iconName"
          [parentForm]="form"
        >
        </app-select-field>
      </ion-col>
      <ion-col>
        <ion-button
          class="btn"
          color="tertiary"
          (click)="onSubmit()"
          [disabled]="form.invalid"
          >Discover
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
