<div class="item-container">
  <p class="address">{{ property.land_reg_property_address }}</p>
  <app-uk-hold-tag [holdType]="property.tenure"></app-uk-hold-tag>
</div>
<!-- <ion-item>
  <div class="col-wrapper"> -->
<!-- <ion-text color="primary">
      <p class="address">{{ property.land_reg_property_address }}</p>
    </ion-text> -->
<!-- <ion-label color="primary" class="ion-text-wrap">
      {{ property.land_reg_property_address }}
    </ion-label>
    <app-uk-hold-tag [holdType]="property.tenure"></app-uk-hold-tag>
  </div> -->
<!-- </ion-item> -->
